@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body
{
	font: 15px/1.5 "Lato", sans-serif;
	padding: 0;
	margin: 0;
	background-color: #d3d3d3;
}
/* global */
.container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul
{
	margin: 0;
	padding: 0;
}

/* Header */

header
{
	background: #3f3f3f;
	color: #fff;
	padding-top: 30px;
	min-height: 70 px;
	border-bottom: #d74d63 5px solid;
}

header a
{
	color: #fff;
	text-decoration: none;
	test-tranform: uppercase;
	font-size: 20px;
}



header li
{
	float: left;
	display: inline;
	padding: 5px 20px 0 20px;
}

header #branding
{
	float: left;

}

header #branding h1
{
	margin: 0;
}


header #branding img
{
	padding-bottom: 20px;
}

header nav
{
	float: right;
}
